<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >

    <head th:fragment="myheader">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/css/signin.css" rel="stylesheet"/>
        <link href="/css/signup.css" rel="stylesheet"/>

        <!-- 타이틀과 로그인용 스타일만 직접 불러오고 나머지는 공용헤더를 사용함-->

        <title>로그인</title>
    </head>


</html>