<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head th:replace="/layout/haeder :: myheader">
</head>
    <body>
        <div class="container">
            <h1>게시판</h1>
            <h2>전체 게시글</h2>
            <table class="table table-horizontal table-bordered">
                <colgroup>
                    <col style="width:88px">
                    <col style="width:118px">
                    <col style="width:80px">
                </colgroup>
                <thead class="thead-strong">
                    <tr id="normalTableTitle">
                        <th scope="col">게시글 번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                    </tr>
                </thead>
                <tbody id="post-table-body">

                </tbody>
            </table>


            <div>
                <a href="/post/writer" ><button class="btn btn-primary">글쓰기</button></a>
                <form class="form-signin" method="get" action="/logout"> <!-- csrf를 Disable 처리했기때문에 get 사용가능-->
                    <button class="btn btn-secondary btn-sm" type="submit">로그아웃</button>
                </form>

            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
            $( document ).ready(function() {
                // list 불러오는 ajax 실행
                $.ajax({
                    type: 'GET',
                    url: '/api/v1/posts',
                    dataType: 'json',
                    contentType:'application/json; charset=utf-8'
                }).done(function(json) {
                    var html = '';
                    for(var i=0; i<json.length; i++){
                        html += '<tr>';
                        html += '<td>'+json[i].id+'</td>';
                        html += '<td>'+json[i].title+'</td>';
                        html += '<td>'+json[i].writer+'</td>';
                        html += '</tr>';
                    }

                    $("#post-table-body").append(html);


                }).fail(function (error) {
                    console.log("조회실패");
                    console.log(error);
                });


            });
        </script>



    </body>
</html>