<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head th:replace="/layout/haeder :: myheader">
</head>
    <body>
        <div class="container-lg">
            <h1>게시판</h1>
            <table class="table">
                <colgroup>
                    <col style="width:20px">
                    <col style="width:118px">
                    <col style="width:80px">
                </colgroup>
                <thead class="table-primary">
                    <tr id="normalTableTitle">
                        <th scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                    </tr>
                </thead>
                <tbody id="post-table-body">
                </tbody>
            </table>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="/post/writer" ><button class="btn btn-primary me-md-2">글쓰기</button></a>
                <a href="/logout" ><button class="btn btn-secondary">로그아웃</button></a>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
            $( document ).ready(function() {
                // list 불러오는 ajax 실행
                $.ajax({
                    type: 'GET',
                    url: '/api/v1/posts',
                    dataType: 'json',
                    contentType:'application/json; charset=utf-8'
                }).done(function(json) {
                    var html = '';
                    for(var i=0; i<json.length; i++){
                        html += '<tr>';
                        html += '<td>'+json[i].id+'</td>';
                        html += '<td onClick="titleOnClick(e)">'
                        html += json[i].title;
                        html += '</td>';
                        html += '<td>'+json[i].writer+'</td>';
                        html += '</tr>';
                    }

                    $("#post-table-body").append(html);


                }).fail(function (error) {
                    console.log("조회실패");
                    console.log(error);
                });
            });

            function titleOnClick(e){
                console.log(e);
                console.log(e.innerHtml);
            };

        </script>



    </body>
</html>