<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/signin.css" rel="stylesheet"/>
    <link href="/css/signup.css" rel="stylesheet"/>
</head>
    <body>
        <div>
            <h1>게시글 읽기</h1>
                <div class="mb-3">
                    <label for="input_title" class="form-label">제목</label>
                    <input type="text" class="form-control" id="input_title"/>
                </div>
                <div class="mb-3">
                    <label for="input_password" class="form-label">닉네임</label>
                    <input type="text" class="form-control" id="input_password"/>
                </div>
                <div class="mb-3">
                    <label for="textarea_content" class="form-label">내용</label>
                    <textarea class="form-control" id="textarea_content" rows="3">
                    </textarea>
                </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
            $( document ).ready(function() {
                console.log("읽기 시작");
                var postId = [[${postId}]];
                console.log(postId);
            });
        </script>

    </body>
</html>