<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/signin.css" rel="stylesheet"/>
    <link href="/css/signup.css" rel="stylesheet"/>
    <style>
        .custom-search {
            position: relative;
        }
        .custom-search-input {
            width: 100%;
            padding-right: 0px !important;
            box-sizing: border-box;
        }
        .custom-search-botton {
            position: absolute;
            top: 0px;
            bottom: 3px;
            line-height: 1 !important;
            z-index: 4;
        }

    </style>
</head>
<body>
    <div class="container-lg">
        <div class="row">
            <h1>게시글 읽기</h1>

            <div class="mb-3">
                <label for="input-title" class="form-label">제목</label>
                <input type="text" class="form-control" id="input-title" readonly/>
            </div>

            <div class="mb-3">
                <label for="input-nickname" class="form-label">닉네임</label>
                <input type="text" class="form-control" id="input-nickname" readonly />
            </div>
            <div class="mb-3">
                <label for="textarea-content" class="form-label">내용</label>
                <textarea class="form-control" id="textarea-content" rows="3" readonly>
                </textarea>
            </div>

            <div class="input-group custom-search mb-4">
                <textarea class="form-control custom-search-input" id="textarea-comment" placeholder="댓글쓰기" ></textarea>
                <button class="btn btn-primary custom-search-botton" id="btn-save-comment">등록</button>
            </div>



            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button id="btn-list" class="btn btn-secondary mb-3">목록</button>
                <button id="btn-delete" class="btn btn-danger mb-3">삭제</button>
            </div>


        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        /**
         * 화면 로딩시
         */
        $( document ).ready(function() {
            console.log("읽기 시작");
            var postId = [[${postId}]];

            // ajax를 통해서 json 요청
            $.ajax({
                type: 'GET',
                url: '/api/v1/post/' + postId,
                dataType: 'json',
            }).done(function(json) {
                console.log("게시글 조회 성공")
                $("#post-id").val(json.postId);
                $("#input-title").val(json.title);
                $("#input-nickname").val(json.nickname);
                $("#textarea-content").val(json.content);
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        });

        /**
         * 게시글 삭제요청
         */
        $('#btn-delete').on('click', function () {

            var suffix = [[${postId}]];

            $.ajax({
                type: 'DELETE',
                url: '/api/v1/post/' + suffix,
                dataType: 'json',
                contentType:'application/json; charset=utf-8',
            }).done(function() {
                alert("게시글을 성공적으로 삭제했습니다.");
                window.location.href = '/post/list';
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });

        });

        /**
         *  댓글 저장
         */
        $('#btn-save-comment').on('click', function () {

            var data = {
                commentContent: $('#textarea-comment').val(),
                postId : [[${postId}]]
            };
            $.ajax({
                type: 'POST',
                url: '/api/v1/post-comment',
                dataType: 'json',
                contentType:'application/json; charset=utf-8',
                data: JSON.stringify(data)
            }).done(function() {
                window.location.reload();
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });

        });


        /**
         * 목록으로 이동
         */
        $('#btn-list').on('click', function () {
            window.location.href = '/post/list';
        });

    </script>

</body>
</html>