<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Please sign in</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
        <style>
            body{
                background-color: #3e3e3e;
                color: white;
            }
        </style>
    </head>
    <body>
        <div>
            <h1>게시글 작성</h1>
            <form method="POST" th:action="@{/post}" th:object="${savePostDto}" >
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">제목</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" th:field="*{title}">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">제목</label>
                    <input type="text" class="form-control" id="exampleFormControlInput2" th:field="*{writer}">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">내용</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="*{content}"></textarea>
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">등록</button>
                </div>
            </form>
        </div>


    </body>
</html>