<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >

<head th:replace="/layout/haeder :: myheader">
</head>

<body class="text-center">
    <main class="form-signin">
        <form method="post" action="/login">
            <h1 class="h3 mb-3 fw-normal">로그인하고 시작하기</h1>
            <div class="form-floating">
                <input type="text" id="username" name="username" class="form-control" placeholder="username" required="" autofocus="">
                <label for="username">username</label>
            </div>

            <div class="form-floating">
                <input type="password" id="password" name="password" class="form-control" placeholder="password" required="" autofocus="">
                <label for="password">password</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="remember-me"> Remember me
                </label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button>
        </form>

        <a href="/user-registration-form" >
            <button class="w-100 btn btn-lg btn-secondary">회원가입</button>
        </a>
    </main>
</body>
</html>