<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >

<head th:replace="/layout/haeder :: myheader">
</head>

<body>
<div class="container">
    <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading">로그인하고 시작하기</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
        </p>

        <button class="btn btn-lg btn-primary btn-block" type="submit">로그인 하기</button>
        </p>

        <p>New here? Click
            <a th:href="@{/user-registration}">here</a> to register.
        </p>
    </form>
</div>
</body></html>