<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="utf-8">
  <title>회원가입</title>
</head>

<body>
<div class="container">

  <div class="row g-5">

    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">회원가입</h4>
      <form method="POST" class="needs-validation" th:action="@{/user-registration}" th:object="${registerForm}" >

        <div class="col-12">
          <label for="input_username" class="form-label">사용자 ID</label>
          <input type="text" class="form-control" id="input_username" th:field="*{username}">
        </div>

        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">비밀번호</label>
          <input type="password" class="form-control" id="inputEmail4" th:field="*{password}">
        </div>
        <div class="col-md-6">
          <label for="inputPassword5" class="form-label">비밀번호 확인</label>
          <input type="password" class="form-control" id="inputPassword5">
        </div>

        <div class="col-md-6">
          <label for="inputEmail6" class="form-label">닉네임</label>
          <input type="text" class="form-control" id="inputEmail6" th:field="*{nickname}">
        </div>

        <hr class="my-4">
        <button class="w-100 btn btn-primary btn-lg" type="submit">회원가입</button>

      </form>
    </div>
  </div>
</div>

<link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>