<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="EUC-KR">
  <title>Taco Cloud</title>
</head>

<body>
<h1>Register</h1>

<form method="POST" th:action="@{/user-registration}" th:object="${registerForm}" >

  <label>Username: </label>
  <input type="text" name="username" th:field="*{username}"/><br/>

  <label>Password: </label>
  <input type="password" name="password" th:field="*{password}"/><br/>

  <input type="submit" value="Register"/>
</form>

</body>
</html>